<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eu.profinit.opendata.mapper.RecordMapper">

    <select id="searchSuppliersByNameOrIcoShortDetail" resultMap="partialRecordResultMap">
        SELECT r.record_id, r.subject FROM record r JOIN entity e ON  r.authority = e.entity_id WHERE 1=1
        <if test="ico != null">
            AND e.ico = #{ico}
        </if>
        <if test="name != null">
            <bind name="pattern" value="'%' + name + '%'" />
            AND LOWER(e.name) LIKE LOWER(#{pattern})
        </if>
        AND r.authority_role = 'supplier'
        UNION
        SELECT r.record_id, r.subject FROM record r JOIN entity e ON e.entity_id = r.partner WHERE 1=1
        <if test="ico != null">
            AND e.ico = #{ico}
        </if>
        <if test="name != null">
            <bind name="pattern" value="'%' + name + '%'" />
            AND LOWER(e.name) LIKE LOWER(#{pattern})
        </if>
        AND r.authority_role = 'customer'
        ORDER BY record_id ASC
    </select>

    <select id="searchSupplierByIdFullDetail" resultMap="recordResultMap">
        SELECT * FROM record r JOIN entity e ON  r.authority = e.entity_id WHERE 1=1
        <if test="id != null">
            AND r.record_id = #{id}
        </if>
        UNION
        SELECT * FROM record r JOIN entity e ON  r.partner = e.entity_id WHERE 1=1
        <if test="id != null">
            AND r.record_id = #{id}
        </if>
        ORDER BY record_id ASC
    </select>

    <select id="searchBuyersByNameOrIcoShortDetail" resultMap="partialRecordResultMap">
        SELECT r.record_id, r.subject FROM record r JOIN entity e ON e.entity_id = r.authority WHERE 1=1
        <if test="ico != null">
            AND e.ico = #{ico}
        </if>
        <if test="name != null">
            <bind name="pattern" value="'%' + name + '%'" />
            AND LOWER(e.name) LIKE LOWER(#{pattern})
        </if>
        AND r.authority_role = 'customer'
        UNION
        SELECT r.record_id, r.subject FROM record r JOIN entity e ON e.entity_id = r.partner WHERE 1=1
        <if test="ico != null">
            AND e.ico = #{ico}
        </if>
        <if test="name != null">
            <bind name="pattern" value="'%' + name + '%'" />
            AND LOWER(e.name) LIKE LOWER(#{pattern})
        </if>
        AND r.authority_role = 'supplier'
        ORDER BY record_id ASC
    </select>

    <select id="searchBuyerByIdFullDetail" resultMap="recordResultMap">
        SELECT * FROM record r JOIN entity e ON  r.authority = e.entity_id WHERE 1=1
        <if test="id != null">
            AND r.record_id = #{id}
        </if>
        UNION
        SELECT * FROM record r JOIN entity e ON  r.partner = e.entity_id WHERE 1=1
        <if test="id != null">
            AND r.record_id = #{id}
        </if>
        ORDER BY record_id ASC
    </select>

    <select id="searchTendersByNameOrDateOrVolumeShortDetail" resultMap="partialRecordResultMap">
        SELECT r.record_id, r.subject FROM record r JOIN entity e ON  r.authority = e.entity_id WHERE 1=1
        <if test="name != null">
            <bind name="pattern" value="'%' + name + '%'" />
            AND LOWER(r.subject) LIKE LOWER(#{pattern})
        </if>
        <choose>
            <when test="volumeFrom != null and volumeTo != null">
                AND r.amount_czk BETWEEN #{volumeFrom} AND #{volumeTo}
            </when>
            <when test="volumeFrom != null">
                <![CDATA[ AND r.amount_czk >= #{volumeFrom} ]]>
            </when>
            <when test="volumeTo != null">
                <![CDATA[ AND r.amount_czk <= #{volumeTo} ]]>
            </when>
        </choose>

        <choose>
            <when test="dateFrom != null and dateTo != null">
                AND r.date_created BETWEEN #{dateFrom} AND #{dateTo}
            </when>
            <when test="dateFrom != null">
                AND r.date_created >= #{dateFrom}
            </when>
            <when test="dateTo != null">
                <![CDATA[ AND r.date_created <= #{dateTo} ]]>
            </when>
        </choose>
        UNION
        SELECT r.record_id, r.subject FROM record r JOIN entity e ON  r.partner = e.entity_id WHERE 1=1
        <if test="name != null">
            <bind name="pattern" value="'%' + name + '%'" />
            AND LOWER(r.subject) LIKE LOWER(#{pattern})
        </if>
        <choose>
            <when test="volumeFrom != null and volumeTo != null">
                AND r.amount_czk BETWEEN #{volumeFrom} AND #{volumeTo}
            </when>
            <when test="volumeFrom != null">
                <![CDATA[ AND r.amount_czk >= #{volumeFrom} ]]>
            </when>
            <when test="volumeTo != null">
                <![CDATA[ AND r.amount_czk <= #{volumeTo} ]]>
            </when>
        </choose>

        <choose>
            <when test="dateFrom != null and dateTo != null">
                AND r.date_created BETWEEN #{dateFrom} AND #{dateTo}
            </when>
            <when test="dateFrom != null">
                AND r.date_created >= #{dateFrom}
            </when>
            <when test="dateTo != null">
                <![CDATA[ AND r.date_created <= #{dateTo} ]]>
            </when>
        </choose>
        <if test="name != null">
            ORDER BY subject DESC
        </if>
    </select>

    <select id="searchByIdFullRecord" resultMap="recordResultMap">
        SELECT * FROM record r JOIN entity e ON  r.authority = e.entity_id WHERE 1=1
        <if test="id != null">
            AND r.record_id = #{id}
        </if>
        UNION
        SELECT * FROM record r JOIN entity e ON  r.partner = e.entity_id WHERE 1=1
        <if test="id != null">
            AND r.record_id = #{id}
        </if>
            ORDER BY subject DESC
    </select>

    <select id="searchTenderByIdFullRecord" resultMap="recordResultMap">
        SELECT * FROM record r JOIN entity e ON  r.authority = e.entity_id WHERE 1=1
        <if test="id != null">
            AND r.record_id = #{id}
        </if>
        UNION
        SELECT * FROM record r JOIN entity e ON  r.partner = e.entity_id WHERE 1=1
        <if test="id != null">
            AND r.record_id = #{id}
        </if>
        ORDER BY record_id ASC
    </select>

    <select id="findLastDate" resultMap="retrievalResultMap">
    SELECT r."date", r.data_instance_id, r.retrieval_id, r.success, r.num_records_inserted, r.num_bad_records, r.failure_reason FROM retrieval r WHERE r.date = (SELECT max(ret.date) FROM retrieval ret WHERE ret.success = TRUE)
    </select>

    <select id="searchByNamePartialRecord" resultMap="partialRecordResultMap">
        SELECT r.record_id, r.subject FROM record r  WHERE 1=1
        <if test="name != null">
            <bind name="pattern" value="'%' + name + '%'" />
            AND LOWER(r.subject) LIKE LOWER(#{pattern})
        </if>
        ORDER BY subject DESC
    </select>

    <select id="countAllRecords" resultMap="totalRecordsResultMap">
        SELECT count(*) FROM record AS totalSuppliers
    </select>
    
    <select id="countAllBuyers" resultMap="totalBuyersResultMap">
        SELECT count(*) AS totalBuyers  FROM ( SELECT distinct(e.entity_id) FROM record r JOIN entity e ON  r.authority = e.entity_id WHERE 1=1 AND r.authority_role = 'customer'
        UNION
        SELECT distinct(e.entity_id) FROM record r JOIN entity e ON e.entity_id = r.partner WHERE 1=1 AND r.authority_role = 'supplier') as totalBuyers
    </select>

    <select id="countAllSuppliers" resultMap="totalSuppliersResultMap">
        SELECT count(*) AS totalSuppliers  FROM ( SELECT distinct(e.entity_id) FROM record r JOIN entity e ON  r.authority = e.entity_id WHERE 1=1 AND r.authority_role = 'supplier'
        UNION
        SELECT distinct(e.entity_id) FROM record r JOIN entity e ON e.entity_id = r.partner WHERE 1=1 AND r.authority_role = 'customer') as totalSuppliers;
    </select>

    <resultMap id="recordResultMap" type="eu.profinit.opendata.model.Record">

        <id property="recordId" column="record_id"/>
        <result property="amountCzk" column="amount_czk"/>
        <result property="authorityIdentifier" column="authority_identifier"/>
        <result property="currency" column="currency"/>
        <result property="dateCreated" column="date_created"/>
        <result property="dateOfExpiry" column="date_of_expiry"/>
        <result property="dateOfPayment" column="date_of_payment"/>
        <result property="dueDate" column="due_date"/>
        <result property="inEffect" column="in_effect"/>
        <result property="masterId" column="master_id"/>
        <result property="originalCurrencyAmount" column="original_currency_amount"/>
        <result property="budgetCategory" column="budget_category"/>
        <result property="subject" column="subject"/>
        <result property="variableSymbol" column="variable_symbol"/>
        <!--<result property="parentRecord" column="parent_id"/>-->
        <!--<result property="retrieval" column="retrieval_id"/>-->
        <result property="recordType" column="record_type" typeHandler="eu.profinit.opendata.model.typehandler.RecordTypeTypeHandler" javaType="eu.profinit.opendata.model.RecordType"/>
        <result property="authorityRole" column="authority_role" typeHandler="eu.profinit.opendata.model.typehandler.AuthorityRoleTypeHandler" javaType="eu.profinit.opendata.model.AuthorityRole"/>
        <result property="periodicity" column="periodicity" typeHandler="eu.profinit.opendata.model.typehandler.PeriodicityTypeHandler" javaType="eu.profinit.opendata.model.Periodicity"/>
        <association property="authority" column="authority" resultMap="entityResultMap" javaType="eu.profinit.opendata.model.Entity"/>
        <association property="partner" column="partner" resultMap="entityResultMap" javaType="eu.profinit.opendata.model.Entity"/>
    </resultMap>

    <resultMap id="entityResultMap" type="eu.profinit.opendata.model.Entity">
        <id property="entityId" column="entity_id"/>
        <result property="ico" column="ico"/>
        <result property="dic" column="dic"/>
        <result property="isPublic" column="is_public"/>
        <result property="name" column="name"/>
    </resultMap>

    <resultMap id="retrievalResultMap" type="eu.profinit.opendata.model.Retrieval">
        <id property="retrievalId" column="retrieval_id"/>
        <result property="date" column="date"/>
        <result property="failureReason" column="failure_reason"/>
        <result property="numBadRecords" column="num_bad_records"/>
        <result property="numRecordsInserted" column="num_records_inserted"/>
        <result property="success" column="is_public"/>
    </resultMap>

    <resultMap id="partialRecordResultMap" type="eu.profinit.opendata.model.PartialRecord">
        <id property="recordId" column="record_id"/>
        <result property="subject" column="subject"/>
    </resultMap>

    <resultMap id="totalRecordsResultMap" type="eu.profinit.opendata.model.TotalRecords">
        <result property="totalRecords" column="totalRecords"/>
    </resultMap>

    <resultMap id="totalBuyersResultMap" type="eu.profinit.opendata.model.TotalBuyers">
        <result property="totalBuyers" column="totalBuyers"/>
    </resultMap>

    <resultMap id="totalSuppliersResultMap" type="eu.profinit.opendata.model.TotalSuppliers">
        <result property="totalSuppliers" column="totalSuppliers"/>
    </resultMap>

</mapper>